<li class='list-group-item'>
  <input
    class='form-check-input me-1'
    type='checkbox'
    value=''
    id='thirdCheckbox'
    checked={{@item.isDone}}
  />
  <label class='form-check-label' for='thirdCheckbox'>{{@item.label}}</label>
  <button type='button' class='btn btn-danger'>REMOVE</button>
</li>