<li class='list-group-item'>
  <input
    class='form-check-input me-1'
    type='checkbox'
    value=''
    id='thirdCheckbox'
    checked={{@item.isDone}}
    {{on 'change' this.onToggleIsDone}}
  />
  <label
    class='form-check-label'
    for='thirdCheckbox'
  >{{@item.description}}</label>
  <button
    type='button'
    class='btn btn-danger'
    {{on 'click' this.onRemoveTask}}
  >REMOVE</button>
</li>